@import "~terra-mixins/lib/Mixins";
@import "../clinical-lowlight-theme/Tab.module";
@import "../orion-fusion-theme/Tab.module";

:local {
  .tab,
  .tab-menu {
    background-color: var(
      --terra-application-workspace-tab-background-color,
      transparent
    );
    background-image: var(
      --terra-application-workspace-tab-background-image,
      linear-gradient(to bottom, #fff, #dedfe0)
    );
    box-sizing: border-box;
    border-top: var(
      --terra-application-workspace-tab-border,
      1px solid #868a8c
    );
    border-right: var(
      --terra-application-workspace-tab-border,
      1px solid #868a8c
    );
    border-bottom: 0;
    cursor: pointer;
    display: flex;
    height: var(--terra-application-workspace-tab-height, 33px);
    min-width: 0;
    outline: none;
    position: relative;

    .inner {
      align-items: center;
      display: flex;
      flex: 1 1 auto;
      height: 100%;
      justify-content: space-around;
      overflow: hidden;
      padding-right: 15px;
      padding-left: 15px;
      pointer-events: none;
    }

    .label {
      color: var(--terra-application-workspace-tab-label-color, #595f62);
      flex: 0 1 auto;
      line-height: 1.21428;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: normal;
      word-wrap: normal;
    }

    .icon {
      color: var(--terra-application-workspace-tab-icon-color, #7a7f82);
    }

    @media screen and (-ms-high-contrast: active),
      (-ms-high-contrast: none),
      (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(
          --terra-application-workspace-tab-hover-background-color,
          transparent
        );
        background-image: var(
          --terra-application-workspace-tab-hover-background-image,
          linear-gradient(to bottom, #fff, #e8e9ea)
        );

        .icon {
          color: var(
            --terra-application-workspace-tab-hover-icon-color,
            #64696c
          );
        }
        .label {
          color: var(
            --terra-application-workspace-tab-hover-label-color,
            #434a4d
          );
        }
      }
    }

    &[data-focus-styles-enabled="true"]:focus {
      outline: none;

      &::before {
        border: var(
          --terra-application-workspace-tab-focus-before-border,
          2px dashed #000
        );
        bottom: var(--terra-application-workspace-tab-focus-before-bottom, 1px);
        box-shadow: var(
          --terra-application-workspace-tab-focus-before-box-shadow,
          none
        );
        content: "";
        left: var(--terra-application-workspace-tab-focus-before-left, 1px);
        position: absolute;
        right: var(--terra-application-workspace-tab-focus-before-right, 1px);
        top: var(--terra-application-workspace-tab-focus-before-top, 1px);
      }
    }

    &.is-active {
      background-color: var(
        --terra-application-workspace-tab-is-active-background-color,
        #fff
      );
      background-image: var(
        --terra-application-workspace-tab-is-active-background-image,
        none
      );
      height: var(--terra-application-workspace-tab-is-active-height, 34px);

      .icon,
      .label {
        margin-top: var(
          --terra-application-workspace-tab-is-active-icon-label-margin-top,
          -1px
        );
      }

      .icon {
        color: var(
          --terra-application-workspace-tab-is-active-icon-color,
          #64696c
        );
      }
      .label {
        color: var(
          --terra-application-workspace-tab-is-active-label-color,
          #434a4d
        );
      }
    }
  }

  .tab {
    flex: 0 1 auto;
    min-width: var(--terra-application-workspace-tab-min-width, 76px);

    .inner {
      text-align: center;
    }
  }

  .tab-menu {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;

    svg {
      flex: 0 0 auto;
      height: var(--terra-application-workspace-tab-menu-svg-height, 0.8571rem);
    }

    &.is-open {
      cursor: default;
    }

    @media screen and (-ms-high-contrast: active),
      (-ms-high-contrast: none),
      (hover: hover) and (pointer: fine) {
      &.is-active:hover:not(.is-open) {
        background-color: var(
          --terra-application-workspace-tab-menu-is-active-hover-background-color,
          transparent
        );
        background-image: var(
          --terra-application-workspace-tab-menu-is-active-hover-background-image,
          linear-gradient(to bottom, #f4f4f4, #fff)
        );

        .icon {
          color: var(
            --terra-application-workspace-tab-menu-is-active-hover-icon-color,
            #595f62
          );
        }
      }
    }
  }

  [data-tab-is-calculating="true"] {
    > .tab {
      flex: 0 0 auto;
    }
  }

  .tabs-new-styles:nth-of-type(6) {
    /* border-top-right-radius: var(
      --terra-application-workspace-tab-border-top-right-radius,
      3px
    );*/
  }
}
