@import '~terra-mixins/lib/Mixins';

:local {
  .frame {
    align-items: center;
    background-color: #fff;
    border: 1px solid #dedfe0;
    border-radius: 3px;
    color: #1c1f21;
    cursor: pointer;
    display: flex;
    font-size: 1.143rem;
    height: 30px;
    line-height: 1.75;
    outline: none;
    padding-bottom: 0;
    padding-left: 0.42857rem;
    padding-right: 0.42857rem;
    padding-top: 0;
    position: relative;
    width: 100%;

    &:hover {
      background-color: #f0f8ff;
    }

    &:focus {
      border-color: #4cb2e9;
    }

    > .display {
      border: 0;
      display: inline-block;
      flex: 1 1 auto; // IE 10
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      white-space: nowrap;
    }

    .arrow-icon {
      background: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block; // IE 10
      flex: 0 0 auto; // IE 10
      height: 0.715rem;
      width: 1rem;
    }
  }
}
