:local {
  .fancy {
    height: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    position: relative;
    width: 100%;

    &:focus {
      outline: 2px dashed #000;
      outline-offset: -2px;
    }
  }

  .item {
    line-height: 1.42857;
    padding-bottom: 0.7143rem;
    padding-left: 0.7143rem;
    padding-right: 0.7143rem;
    padding-top: 0.7143rem;
  }

  .selected {
    background-color: #ffc0cb;
  }

  .focused {
    background-color: #add8e6;
  }

  .selected.focused {
    background-color: #20b2aa;
  }
}
