@import '~terra-mixins/lib/Mixins';

:local {
  .outer {
    align-items: center;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    width: 100%;
  }

  .select {
    appearance: none;
    border: none;
    background-color:#fff;
    color: #1c1f21;
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    font-size: 1.143rem;
    line-height: 1.75;
    outline: none;
    padding-bottom: 0;
    padding-left: 0.42857rem;
    padding-right: 1.825rem;
    padding-top: 0;
    position: relative;
    width: 100%;

    &:focus {
      background-image: none;
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: 0 0;
      border-color: #4cb2e9;
      box-shadow:0 0 0 2px rgba(76, 178, 233, 0.25);
      outline: none;
      transition-duration: 0.5s;
      transition-property: background-size;
      transition-timing-function: ease;
    }
  }

  .arrow-icon {
    background: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="is-bidi"><path d="M48 12L24 36 0 12h48z"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #ccc;
    display: inline-flex; // IE 10
    flex: 0 0 auto; // IE 10
    height: 0.715rem;
    padding-right: 1.825rem;
    position: absolute;
    right: 0;
    width: 1rem;
  }
}
