/* stylelint-disable selector-max-compound-selectors */
:local {  
  .header-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    > .header {
      flex: 0 0 auto;
    }

    > .main {
      flex: 1 1 auto;
      height: 100%;
      min-height: 50px;
      overflow: hidden;
      position: relative;
      width: 100%;

      > .normalizer {
        height: 100%;
        position: absolute;
        width: 100%;
      }
    }
  }
}
/* stylelint-enable */
