:local {
  .orion-fusion-theme {
    --terra-application-notification-dialog-overlay-background-color: rgba(28, 31, 33, 0.8);
    --terra-application-notification-dialog-overlay-background-image: none;
    --terra-application-notification-dialog-overlay-foreground-color: none;
    --terra-application-notification-dialog-overlay-opacity: 1;
    --terra-application-notification-dialog-background: #fff;
    --terra-application-notification-dialog-border-radius: 0;
    --terra-application-notification-dialog-small-horizontal-inset: 10px;
    --terra-application-notification-dialog-max-width: 500px;
    --terra-application-notification-dialog-floating-background-height: 3rem;
    --terra-application-notification-dialog-hazard-high-background-image: linear-gradient(to bottom, #fce5e5, #fff);
    --terra-application-notification-dialog-hazard-high-border-top: 3px solid #e50000;
    --terra-application-notification-dialog-hazard-medium-background-image: linear-gradient(to bottom, #fff2d0, #fff);
    --terra-application-notification-dialog-hazard-medium-border-top: 3px solid #ffc20a;
    --terra-application-notification-dialog-hazard-low-background-image: linear-gradient(to bottom, #f6f6f6, #fff);
    --terra-application-notification-dialog-hazard-low-border-top: 3px solid #9b9fa1;
    --terra-application-notification-dialog-error-background-image: linear-gradient(to bottom, #f6f6f6, #fff);
    --terra-application-notification-dialog-error-border-top: 3px solid #9b9fa1;
    --terra-application-notification-dialog-custom-background-image: linear-gradient(to bottom, #f6f6f6, #fff);
    --terra-application-notification-dialog-custom-border-top: 3px solid #9b9fa1;
    --terra-application-notification-dialog-header-box-shadow: -16px 8px 5px 0 rgba(255, 255, 255, 0.5), -16px 2px 2px 0 rgba(255, 255, 255, 0.75);
    --terra-application-notification-dialog-header-padding: 0 0.83333rem;
    --terra-application-notification-dialog-header-content-border-bottom: 1px solid #9b9fa1;
    --terra-application-notification-dialog-header-content-padding: 0.75rem 0 0.83333rem;
    --terra-application-notification-dialog-header-container-margin-left: 0.58333rem;
    --terra-application-notification-dialog-signal-word-color: #1c1f21;
    --terra-application-notification-dialog-signal-word-font-size: 1rem;
    --terra-application-notification-dialog-signal-word-min-height: 1rem;
    --terra-application-notification-dialog-title-color: #2d3539;
    --terra-application-notification-dialog-title-font-size: 1rem;
    --terra-application-notification-dialog-title-font-weight: normal;
    --terra-application-notification-dialog-title-margin: 0.08333rem 0 0;
    --terra-application-notification-dialog-title-min-height: 1rem;
    --terra-application-notification-dialog-body-background-color: #fff;
    --terra-application-notification-dialog-body-padding: 0 1.66667rem 0;
    --terra-application-notification-dialog-body-media-small-min-height: 4.5rem;
    --terra-application-notification-dialog-body-media-small-padding: 0.75rem 1.66667rem 1.41667rem;
    --terra-application-notification-dialog-body-media-large-min-height: 7rem;
    --terra-application-notification-dialog-message-color: #262626;
    --terra-application-notification-dialog-message-font-size: 1rem;
    --terra-application-notification-dialog-message-padding: 0.25rem 0;
    --terra-application-notification-dialog-message-text-align: left;
    --terra-application-notification-dialog-footer-background-color: #f4f4f4;
    --terra-application-notification-dialog-footer-box-shadow: -16px -9px 5px 0 rgba(255, 255, 255, 0.5), -16px -3px 3px 0 rgba(255, 255, 255, 0.75);
    --terra-application-notification-dialog-footer-border-top: 1px solid #64696c;
    --terra-application-notification-dialog-footer-min-height: 0.91667rem;
    --terra-application-notification-dialog-actions-padding: 0.5rem;
  }
}
