:local {
  .primary-navigation-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    > .concept-banner-container {
      flex: 0 0 auto;
    }

    > .content-container {
      flex: 1 1 auto;
      height: 100%;
      min-height: 0;
      overflow: hidden;
      position: relative;
    }
  }
}
