:local {
  .orion-fusion-theme {
    --terra-application-docs-example-component-background-color: #f6f8fa;
    --terra-application-docs-example-component-color: rgb(36, 41, 46);
    --terra-application-docs-example-component-font-size: 2rem;
  }
}
