:local {
  .clinical-lowlight-theme {
    --terra-application-workspace-layout-workspace-overlay-background-color: rgba(0, 0, 0, 0.3);
    --terra-application-workspace-layout-workspace-body-overlay-box-shadow: none;
  }
}
