@import '../../breakpoints/media-queries';

:local {
  .card-layout {
    height: 100%;
    
    margin: 0 10px;
    padding: 10px 5px 15px;

    outline: none;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .card-layout:not(.overflow-disabled) {
    overflow-y: auto;
  }

  .width-normalizer {
    // padding: 10px 15px 15px;

    width: 100%;
    @include terra-mq-medium-up {
      min-width: 768px;
    }
  }

  .overflow-disabled .width-normalizer {
    height: 100%;
  }
}
