:local {
  .orion-fusion-theme {
    --terra-application-workspace-layout-workspace-body-background-color: #f0f0f2;
    --terra-application-workspace-layout-workspace-body-box-shadow: inset 3px -3px 0px -2px#fefffe, inset 4px 0px 0px -2px #C7CACB;
    --terra-application-workspace-layout-workspace-body-padding: 0.3571rem 0.7143rem;
    --terra-application-workspace-layout-workspace-body-overlay-border-left: 1px solid rgba(0, 0, 0, 0.75);
    --terra-application-workspace-layout-workspace-overlay-background-color: rgba(0, 0, 0, 0.3);
  }
}
