// @import '../../../themes/clinical-lowlight-theme/HiddenTab.module';
// @import '../../../themes/orion-fusion-theme/HiddenTab.module';

:local {
  .hidden {
    background-color: var(--terra-application-workspace-hidden-tab-hidden-background-color, #fff);
    color: var(--terra-application-workspace-hidden-tab-hidden-color, #222a2e);
    cursor: pointer;
    display: flex;
    font-size:  var(--terra-application-workspace-hidden-tab-hidden-font-size, 1rem);
    line-height:  var(--terra-application-workspace-hidden-tab-hidden-line-height, 1.4);
    font-weight: normal;
    margin-left: 0;
    outline: none;
    padding: var(--terra-application-workspace-hidden-tab-hidden-padding, 0.643rem 1.071rem);

    .label {
      flex: 1 1 auto;
      overflow: hidden;
      text-align: start;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--terra-application-workspace-hidden-tab-hidden-hover-background-color, aliceblue);
      }
    }

    &[data-focus-styles-enabled='true']:focus {
      outline: 2px dashed #000;
      outline-offset: -4px;
      z-index: 1;
    }

    &.is-active {
      box-shadow: none;
      color: #000;
      font-weight: normal;
      overflow: hidden; //forces :before background-image to honor border-radius clipping.
      position: relative;
  
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--terra-application-workspace-hidden-tab-hidden-is-active-hover-background-color, aliceblue);
        }
      }

      &:first-child {
        margin-left: 0;
      }
  
      &:last-child {
        border-width: 0;
      }
    }
  }

  .checkbox {
    flex: 0 0 auto;
    color: var(--terra-application-workspace-hidden-tab-checkbox-color, #007cc3);
    margin-right: var(--terra-application-workspace-hidden-tab-checkbox-margin-right, 0.4286rem);
    height: 1rem;
    width: 1rem;
  }
}
