@import '~terra-mixins/lib/Mixins';

:local {
  .tab,
  .tab-menu {
    color: #007ee0;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    line-height: 1.4;
    height: 40px; // TODO: best guess?
    margin-bottom: -1px;
    margin-left: 25px; // TODO: best guess?
    margin-right: 12px; // TODO: best guess?
    position: relative;
    
    &:last-child {
      margin-right: 25px; // TODO: best guess?
    }

    .inner {
      height: 40px; // TODO: fix this?
      padding-top: 14px;
      background-image: inline-svg(
        '<svg width="1px" height="41px" viewBox="0 0 1 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <rect id="path-1" x="0" y="0" width="1" height="41"></rect>
            <path d="M17.4187513,0 L40.5812487,0 C44.9870583,2.74337958e-15 48.8737754,2.88345872 50.1514927,7.09992605 L58,33 L58,33 L0,33 L7.84850726,7.09992605 C9.12622463,2.88345872 13.0129417,4.36204778e-15 17.4187513,0 Z" id="path-3"></path>
            <filter x="-12.9%" y="-22.7%" width="125.9%" height="145.5%" filterUnits="objectBoundingBox" id="filter-4">
              <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
              <feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
            </filter>
          </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-26.000000, 7.000000)">
              <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
              <path stroke-opacity="0.3" stroke="#979797" stroke-width="1" d="M40.5812487,0.5 C42.6740083,0.5 44.6434833,1.18482145 46.2414975,2.37034839 C47.8395116,3.55587533 49.0660648,5.24210777 49.6729805,7.24492974 L49.6729805,7.24492974 L57.3260321,32.5 L0.673967868,32.5 L8.32701946,7.24492974 C8.93393521,5.24210777 10.1604884,3.55587533 11.7585025,2.37034839 C13.3565167,1.18482145 15.3259917,0.5 17.4187513,0.5 L17.4187513,0.5 Z" stroke-linejoin="square" fill="#E8E9E9" fill-rule="evenodd"></path>
            </g>
          </g>
        </svg>'
      );
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: normal;
      word-wrap: normal;
    }

    &::before {
      background-image: inline-svg(
        '<svg width="34px" height="40px" viewBox="0 0 34 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <rect id="path-1" x="0" y="0" width="34" height="40"></rect>
            <path d="M17.4187513,0 L40.5812487,0 C44.9870583,2.74337958e-15 48.8737754,2.88345872 50.1514927,7.09992605 L58,33 L58,33 L0,33 L7.84850726,7.09992605 C9.12622463,2.88345872 13.0129417,4.36204778e-15 17.4187513,0 Z" id="path-3"></path>
            <filter x="-12.9%" y="-22.7%" width="125.9%" height="145.5%" filterUnits="objectBoundingBox" id="filter-4">
              <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
              <feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
            </filter>
          </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group-Copy-28">
              <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
              </mask>
              <g id="Mask"></g>
              <g mask="url(#mask-2)">
                <g transform="translate(8.000000, 7.000000)">
                  <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                  <path stroke-opacity="0.3" stroke="#979797" stroke-width="1" d="M40.5812487,0.5 C42.6740083,0.5 44.6434833,1.18482145 46.2414975,2.37034839 C47.8395116,3.55587533 49.0660648,5.24210777 49.6729805,7.24492974 L49.6729805,7.24492974 L57.3260321,32.5 L0.673967868,32.5 L8.32701946,7.24492974 C8.93393521,5.24210777 10.1604884,3.55587533 11.7585025,2.37034839 C13.3565167,1.18482145 15.3259917,0.5 17.4187513,0.5 L17.4187513,0.5 Z" stroke-linejoin="square" fill="#E8E9E9" fill-rule="evenodd"></path>
                </g>
              </g>
            </g>
          </g>
        </svg>'
      );

      content: "";
      bottom: 0;
      height: 40px;
      left: -33px;
      padding: 0;
      position: absolute;
      width: 34px;
      z-index: 1;
    }

    &::after {
      background-image: inline-svg(
        '<svg width="34px" height="40px" viewBox="0 0 34 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <rect id="path-1" x="0" y="0" width="34" height="40"></rect>
            <path d="M17.4187513,0 L40.5812487,0 C44.9870583,2.74337958e-15 48.8737754,2.88345872 50.1514927,7.09992605 L58,33 L58,33 L0,33 L7.84850726,7.09992605 C9.12622463,2.88345872 13.0129417,4.36204778e-15 17.4187513,0 Z" id="path-3"></path>
            <filter x="-12.9%" y="-22.7%" width="125.9%" height="145.5%" filterUnits="objectBoundingBox" id="filter-4">
              <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
              <feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
            </filter>
          </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group-Copy-30" transform="translate(17.000000, 20.000000) scale(-1, 1) translate(-17.000000, -20.000000) ">
              <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
              </mask>
              <g id="Mask"></g>
              <g id="Group-Copy-28" mask="url(#mask-2)">
                <g transform="translate(8.000000, 7.000000)">
                  <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                  <path stroke-opacity="0.3" stroke="#979797" stroke-width="1" d="M40.5812487,0.5 C42.6740083,0.5 44.6434833,1.18482145 46.2414975,2.37034839 C47.8395116,3.55587533 49.0660648,5.24210777 49.6729805,7.24492974 L49.6729805,7.24492974 L57.3260321,32.5 L0.673967868,32.5 L8.32701946,7.24492974 C8.93393521,5.24210777 10.1604884,3.55587533 11.7585025,2.37034839 C13.3565167,1.18482145 15.3259917,0.5 17.4187513,0.5 L17.4187513,0.5 Z" stroke-linejoin="square" fill="#E8E9E9" fill-rule="evenodd"></path>
                </g>
              </g>
            </g>
          </g>
        </svg>'
      );

      content: "";
      bottom: 0;
      height: 40px;
      padding: 0;
      position: absolute;
      right: -33px;
      width: 34px;
      z-index: 2;
    }

    &:focus {
      outline: 2px dashed #000;
      outline-offset: -2px;
    }

    &.is-active {
      &::before,
      &::after  {
        z-index: 5;
      }

      .inner {
        background-image: inline-svg(
          '<svg width="1px" height="41px" viewBox="0 0 1 41" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <rect id="path-1" x="0" y="0" width="1" height="41"></rect>
              <path d="M17.5430141,0 L115.456986,0 C119.921789,2.73254256e-15 123.845649,2.95977314 125.072225,7.25278872 L133,35 L133,35 L0,35 L7.92777465,7.25278872 C9.15435053,2.95977314 13.0782105,-2.73254256e-15 17.5430141,0 Z" id="path-3"></path>
              <filter x="-5.6%" y="-21.4%" width="111.3%" height="142.9%" filterUnits="objectBoundingBox" id="filter-4">
                <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                <feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
              </filter>
            </defs>
            <g transform="translate(-67.000000, 5.000000)">
              <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
              <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
            </g>
          </svg>'
        );
      }

      &::before {
        background-image: inline-svg(
          '<svg width="34px" height="40px" viewBox="0 0 34 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <rect id="path-1" x="0" y="0" width="34" height="40"></rect>
              <path d="M17.5430141,0 L115.456986,0 C119.921789,2.73254256e-15 123.845649,2.95977314 125.072225,7.25278872 L133,35 L133,35 L0,35 L7.92777465,7.25278872 C9.15435053,2.95977314 13.0782105,-2.73254256e-15 17.5430141,0 Z" id="path-3"></path>
              <filter x="-5.6%" y="-21.4%" width="111.3%" height="142.9%" filterUnits="objectBoundingBox" id="filter-4">
                <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                <feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
              </filter>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-3-Copy-30">
                <mask id="mask-2" fill="white">
                  <use xlink:href="#path-1"></use>
                </mask>
                <g id="Mask"></g>
                <g mask="url(#mask-2)">
                  <g transform="translate(8.000000, 5.000000)">
                    <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                  </g>
                </g>
              </g>
            </g>
          </svg>'
        );
      }

      &::after {
        background-image: inline-svg(
          '<svg width="34px" height="40px" viewBox="0 0 34 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <rect id="path-1" x="0" y="0" width="34" height="40"></rect>
              <path d="M17.5430141,0 L115.456986,0 C119.921789,2.73254256e-15 123.845649,2.95977314 125.072225,7.25278872 L133,35 L133,35 L0,35 L7.92777465,7.25278872 C9.15435053,2.95977314 13.0782105,-2.73254256e-15 17.5430141,0 Z" id="path-3"></path>
              <filter x="-5.6%" y="-21.4%" width="111.3%" height="142.9%" filterUnits="objectBoundingBox" id="filter-4">
                <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                <feGaussianBlur stdDeviation="2.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
              </filter>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-3-Copy-31" transform="translate(17.000000, 20.000000) scale(-1, 1) translate(-17.000000, -20.000000) ">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <g id="Mask"></g>
                <g id="Group-3-Copy-30" mask="url(#mask-2)">
                  <g transform="translate(8.000000, 5.000000)">
                    <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                    <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-3"></use>
                  </g>
                </g>
              </g>
            </g>
          </svg>'
        );
      }
    }
  }

  .tab {
    flex: 0 1 auto;

    .inner {
      min-width: 7.143rem;
      text-align: center;
    }

    .label:nth-child(2) {
      margin-left: 0.357rem;
    }
  }

  .tab-menu {
    align-items: baseline;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    min-width: 0;
    max-width: 100%;

    span {
      flex: 0 1 auto;
      min-width: 0;
    }

    svg {
      flex: 0 0 auto;
      font-size: 1rem;
    }
  }

  [data-tab-is-calculating="true"] {
    > .tab {
      flex: 0 0 auto;
    }
  }
}
