:local {
  .drop-down {
    border: 1px solid transparent;
    height: 1px;
    left: 0;
    margin: -1px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 2.643rem;
    z-index: 10;
  }

  .is-open {
    border-color: #ccc;
    background-color: #fff;
    height: auto;
    margin: 0;
    opacity: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100% - 2.643rem);
    max-width: 100%;
  }
}
