// @import '../../../themes/clinical-lowlight-theme/TabDropDown.module';
// @import '../../../themes/orion-fusion-theme/TabDropDown.module';

:local {
  .drop-down {
    border: 1px solid transparent;
    height: 1px;
    margin: -1px;
    max-height: calc(100% - 3.571rem);
    max-width: 240px;
    min-width: 200px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 50px;
    z-index: 100;
  }

  .is-open {
    border-color: #ccc;
    background-color: #fff;
    height: auto;
    margin: 0;
    margin-top: -1px;
    opacity: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
