// @import '../../../themes/clinical-lowlight-theme/TabDropDown.module';
// @import '../../../themes/orion-fusion-theme/TabDropDown.module';

:local {
  .drop-down {
    border: var(--terra-application-workspace-tab-drop-down-border, 1px solid transparent);
    height: 1px;
    margin: -1px;
    max-height: calc(100% - var(--terra-application-workspace-tab-drop-down-max-height, 3.571rem));
    max-width: var(--terra-application-workspace-tab-drop-down-max-width, 240px);
    min-width: var(--terra-application-workspace-tab-drop-down-min-width, 200px);
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: var(--terra-application-workspace-tab-drop-down-top, 3.571rem);
    z-index: 100;
  }

  .is-open {
    border-color: var(--terra-application-workspace-tab-drop-down-is-open-border-color, #ccc);
    background-color: var(--terra-application-workspace-tab-drop-down-is-open-background-color, #fff);
    height: auto;
    margin: 0;
    margin-top: -1px;
    opacity: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
