// @import '../../../themes/clinical-lowlight-theme/TabHeader.module';
// @import '../../../themes/orion-fusion-theme/TabHeader.module';

:local {
  .header {
    align-items: center;
    color: #2d3539; // TODO: themable variable
    display: flex;
    flex-direction: row;
    font-size: 1.28571rem; // TODO: themeable variable
    font-weight: normal; // TODO: themeable variable
    min-height: 30px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .title {
    text-align: start;
    flex: 1 1 auto;
    padding: 0 7px;
    width: 100;
  }
}
