// @import '../../themes/clinical-lowlight-theme/Workspace.module';
// @import '../../themes/orion-fusion-theme/Wo.module';

:local {
  .workspace-button {
    align-items: center;
    color: var(--terra-application-workspace-workspace-button-color, #fff);
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    height: 100%;
    justify-content: center;
    margin: 0;
    outline: none;
    position: relative;
  
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
      &:hover {
        /* stylelint-disable-next-line max-nesting-depth */
        .button-inner {
          color: #fff;
        }
      }
    }
  
    &[data-focus-styles-enabled='true']:focus {
      .button-inner {
        color: var(--terra-application-workspace-button-button-inner-focus-color, rgba(255, 255, 255, 0.8));
        outline: var(--terra-application-workspace-button-button-inner-focus-outline, 2px dashed #fff);
        outline-offset: var(--terra-application-workspace-button-button-inner-focus-outline-offset, -2px);
      }
    }
  
    &:active {
      .button-inner {
        color: var(--terra-application-workspace-button-button-inner-active-color, #ccc);
      }
    }

    .button-inner {
      line-height: 0;
      padding: var(--terra-application-workspace-button-button-inner-padding, 0.6429rem);
      position: relative;
    }
  
    .button-image {
      height: var(--terra-application-workspace-button-button-image-height, 0.8571rem);
      overflow: hidden;
      position: relative;
      width: var(--terra-application-workspace-button-button-image-width, 0.8571rem);
    }
  
    .button-image > svg {
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
}
