:local {
  .action-menu {
    background-color: #fff;
    outline: none;
  }

  .action-menu,
  .action-sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .action-item,
  .action-divider,
  .action-checkbox,
  .action-radio,
  .action-link {
    align-items: center;
    color: #000;
    display: flex;
    flex-direction: row;
    padding: 5px;
  }

  .action-checkbox,
  .action-radio,
  .action-link {
    border-bottom: 1px solid #000;

    &:last-child {
      border-bottom: 0;
    }
  }

  .checkbox {
    flex: 0 0 auto;
  }

  .content {
    flex: 1 1 auto;
  }

  .is-disabled {
    color: #ccc;
  }

  .is-checked {
    // background-image: none;

    .is-disabled {
      // background-image: none;
    }
  }

  .is-actionable {
    cursor: pointer;

    &:hover {
      background-color: #ccc;
    }
    
    &[data-focus-styles-enabled='true']:focus {
      outline: 2px dashed #000;
      outline-offset: -5px;
      z-index: 5;
    }
  }
}
