// @import '../themes/clinical-lowlight-theme/ActionMenu.module';
// @import '../themes/orion-fusion-theme/ActionMenu.module';

:local {
  .action-menu,
  .action-sub-menu {
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
  }

  .action-menu {
    background-color: var(--terra-application-action-menu-background-color, #fff);
    min-width: var(--terra-application-action-menu-padding-bottom, 200px);
    outline: none;
    padding-bottom: var(--terra-application-action-menu-padding-bottom, 0.3571rem);
    padding-top: var(--terra-application-action-menu-padding-top, 0.3571rem);
  }

  .action-sub-menu,
  .action-divider > .line {
    width: 100%;
  }

  .action-divider > .line {
    box-shadow: var(--terra-application-action-menu-action-divider-box-shadow, 0 2px 0 0 #f4f4f4, 0 1px 0 0 #c8cacb);
    margin: var(--terra-application-action-menu-action-divider-margin, 0.3571rem 0);
    height: 1px;
  }

  .action-item,
  .action-divider,
  .action-checkbox,
  .action-radio,
  .action-link {
    align-items: center;
    color: var(--terra-application-action-menu-button-action-color, #222a2e);
    display: flex;
    flex-direction: row;
    outline: none;
    vertical-align: center;
  }

  .action-checkbox,
  .action-radio,
  .action-link,
  .action-item {
    cursor: pointer;
    padding-bottom: var(--terra-application-action-menu-action-padding-bottom, 0.5rem);
    padding-left: var(--terra-application-action-menu-action-padding-left, 0.5714rem);
    padding-right: var(--terra-application-action-menu-action-padding-right, 0.7143rem);
    padding-top: var(--terra-application-action-menu-action-padding-top, 0.3571rem);

    &:last-child {
      border-bottom: 0;
    }

    &:not(.is-disabled):hover {
      background-color: var(--terra-application-action-menu-action-not-is-disabled-hover-background-color, aliceblue);
    }
  }

  .action-link,
  .action-item {
    &.indent {
      padding-left: var(--terra-application-action-menu-action-indent-padding-left, 2rem);
    }
  }

  .checkbox {
    flex: 0 0 auto;
    height: var(--terra-application-action-menu-checkbox-height, 0.8571rem);
    margin-right: var(--terra-application-action-menu-checkbox-padding-top, 0.4286rem);
    position: relative;
    width: var(--terra-application-action-menu-checkbox-width, 0.8571rem);

    & > * {
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .content {
    color: var(--terra-application-action-menu-content-color, #222a2e);
    font-size: var(--terra-application-action-menu-content-font-size, 1rem);
    font-weight: var(--terra-application-action-menu-content-font-weight, normal);
    flex: 1 1 auto;
  }

  .is-disabled {
    color: var(--terra-application-action-menu-is-disabled-color, #ccc);
    cursor: default;
  }

  .is-checked {
    .checkbox {
      color: var(--terra-application-action-menu-is-checked-checkbox-color, #007cc3);
    }

    .is-disabled {
      .checkbox {
        color: var(--terra-application-action-menu-is-disabled-checkbox-color, #ccc);
      }
    }
  }

  .is-actionable {
    cursor: pointer;
    outline: none;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--terra-application-action-menu-is-actionable-hover-color, #ebf6fd);
      }
    }
    
    &[data-focus-styles-enabled='true']:focus {
      outline: var(--terra-application-action-menu-is-actionable-focus-color, 2px dashed #000);
      outline-offset: var(--terra-application-action-menu-is-actionable-focus-color, -2px);
      z-index: 5;
    }
  }
}
