// @import '../themes/clinical-lowlight-theme/ActionMenu.module';
// @import '../themes/orion-fusion-theme/ActionMenu.module';

:local {
  .action-menu {
    background-color: #fff;
    outline: none;
  }

  .action-menu,
  .action-sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .action-sub-menu,
  .action-divider > .line {
    width: 100%;
  }

  .action-divider > .line {
    margin: 0;
  }

  .action-item,
  .action-divider,
  .action-checkbox,
  .action-radio,
  .action-link {
    align-items: center;
    color: #222a2e; // TODO: theme this
    display: flex;
    flex-direction: row;
  }

  .action-checkbox,
  .action-radio,
  .action-link,
  .action-item {
    cursor: pointer;
    padding-bottom: 0.643rem;
    padding-left: 0.5714rem; // TODO: theme this
    padding-right: 0.7143rem; // TODO: theme this
    padding-top: 0.643rem;

    &:last-child {
      border-bottom: 0;
    }

    &:not(.is-disabled):hover {
      background-color: aliceblue;
    }
  }

  .action-link,
  .action-item {
    &.indent {
      padding-left: 2rem; // TODO: theme this
    }
  }

  .checkbox {
    flex: 0 0 auto;
    height: 1rem;
    margin-right: 0.4286rem;
    width: 1rem;

    & > * {
      position: absolute;
    }
  }

  .content {
    flex: 1 1 auto;
  }

  .is-disabled {
    color: #ccc;
    cursor: default;
  }

  .is-checked {
    .checkbox {
      color: #007cc3;
    }

    .is-disabled {
      .checkbox {
        color: #ccc;
      }
    }
  }

  .is-actionable {
    cursor: pointer;
    outline: none;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none), (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #ccc;
      }
    }
    
    &[data-focus-styles-enabled='true']:focus {
      outline: 2px dashed #000;
      outline-offset: -5px;
      z-index: 5;
    }
  }
}
