:local {
  .content-container {
    padding: 1rem;
  }

  .tab-1-toolbar {
    background-color: #ffc0cb;
    margin: 0;
    padding: 0.5rem;
  }

  .tab-3-toolbar {
    background-color: #add8e6;
    margin: 0;
    padding: 0.5rem;
  }
}
