:local {
  .cerner-clinical-theme {
    --terra-application-action-menu-checkbox-color: rgba(17, 22, 25, 0.75);
    --terra-application-action-menu-checkbox-padding-bottom: 0.5rem;
    --terra-application-action-menu-checkbox-padding-left: 0.5714rem;
    --terra-application-action-menu-checkbox-padding-right: 0.7143rem;
    --terra-application-action-menu-checkbox-padding-top: 0.3571rem;
    --terra-application-action-menu-checkbox-icon-checkbox-height: 0.8571rem;
    --terra-application-action-menu-checkbox-icon-checkbox-margin-right: 0.4286rem;
    --terra-application-action-menu-checkbox-icon-checkbox-margin-top: 0.1429rem;
    --terra-application-action-menu-checkbox-icon-checkbox-width: 0.8571rem;
    --terra-application-action-menu-checkbox-content-font-size: 1rem;
    --terra-application-action-menu-checkbox-content-font-weight: normal;
    --terra-application-action-menu-checkbox-is-disabled-color: #ccc;
    --terra-application-action-menu-checkbox-is-checked-checkbox-color: #4983d1;
    --terra-application-action-menu-checkbox-is-disabled-checkbox-color: #ccc;
    --terra-application-action-menu-checkbox-is-actionable-hover-background-color: rgba(89, 159, 253, 0.2);
    --terra-application-action-menu-checkbox-is-actionable-focus-box-shadow: none;
    --terra-application-action-menu-checkbox-is-actionable-focus-outline: 2px dashed #2a4b77;
    --terra-application-action-menu-checkbox-is-actionable-focus-outline-offset: -2px;
    --terra-application-action-menu-checkbox-is-actionable-ie-focus-before-border: 2px dashed #2a4b77;
    --terra-application-action-menu-checkbox-is-actionable-ie-focus-before-box-shadow: none;
  }
}
