:local {
  .cerner-clinical-theme {
    --terra-application-action-menu-divider-border-top: none;
    --terra-application-action-menu-divider-height: 1px;
    --terra-application-action-menu-divider-margin: 0.3571rem 0;
    --terra-application-action-menu-divider-line-border-top: 1px solid #96c2fe;
    --terra-application-action-menu-divider-line-height: 1px;
  }
}
