:local {
  .tabs {
    background-color: var(--terra-tabs-structural-container-background-color, #fff);
    position: relative;
    width: 100%;

    // // Content div of content container component
    // > :nth-child(2) {
    //   background-clip: content-box;
    //   background-color: var(--terra-tabs-structural-content-background-color, #fff);
    //   background-image: var(--terra-tabs-structural-content-background-image);
    //   border-radius: var(--terra-tabs-structural-content-border-radius, 0);
    //   box-shadow: var(--terra-tabs-structural-content-box-shadow, 0);
    //   // Used to make the content sit above the tab to block the box shadow that can be applied
    //   z-index: var(--terra-tabs-structural-content-z-index, 0);
    // }
  }

  .header,
  .header2 {
    display: flex;
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .header2 {
    margin-top: 10px;
    // margin-bottom: 5px;
    // order: 1;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 50;
  }

  .start-button,
  .end-button {
    flex: 0 0 auto;
    height: 40px;
    margin: 5px;
    width: 40px;
  }

  .start-button {
    // margin-right: 10px;
    // order: 0;
  }
  .end-button {
    // margin-left: 10px;
    // order: 2;
  }
  .body-fill {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .header {
      flex: 0 0 auto;
      z-index: 20;
    }

    > .body {
      flex: 1 1 auto;
      height: 100%;
      z-index: 10;
    }
  }
}
