@import './clinical-lowlight-theme/WorkspaceContent.module';
@import './orion-fusion-theme/WorkspaceContent.module';

:local {
  .panel {
    background-color: var(--terra-application-workspace-content-panel-background-color, #fefffe);
    border-top: var(--terra-application-workspace-content-panel-border-top, 0);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    width: 100%;
  }

  .panel-header {
    box-shadow: var(--terra-application-workspace-content-panel-header-box-shadow, inset -3px -4px 0px -3px #fefffe, inset -3px -5px 0px -3px #C7CACB);
    flex: 0 0 auto;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 10;
  }

  .panel-content {
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .panel-overflow {
    height: 100%;
    outline: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &.disable-overflow {
      overflow: hidden;
    }
  }

  .rounded {
    border-radius: var(--terra-application-workspace-content-rounded-border-radius, 3px);
    margin-top: var(--terra-application-workspace-content-rounded-margin-top, 5px);
    overflow: hidden;
  }
}
