// @import '../../themes/clinical-lowlight-theme/Workspace.module';
// @import '../../themes/orion-fusion-theme/Workspace.module';

:local {
  .workspace {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    user-select: none;
    width: 100%;
    z-index: 1;

    > .button-header {
      background-image: linear-gradient(to bottom, #007cc3, #0065a3);
      flex: 0 0 auto;
      padding-bottom: 10px; // TODO: matching .tab-header margin-top
      z-index: -1;
    }

    > .body {
      flex: 1 1 auto;
      height: 100%;
      overflow: hidden;
      z-index: 10;
    }
  }

  .button-header {
    display: flex;
    left: 0px;
    justify-content: space-between;
    min-height: 50px;
    position: absolute;
    top: 0px;
    width: 100%;

    .fill-element {
      flex: 1 1 auto;
      width: 100%;
    }
  }

  .tab-header {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 50px;
    width: calc(100% - 10px - 50px);
    z-index: 50;

    &.has-dismiss-button {
      margin-left: 50px;
      width: calc(100% - 100px);
    }
  }
}
