:local {
  .root {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .base-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
  }
}
