:local {
  .clinical-lowlight-theme {
    --terra-application-notification-dialog-content-list-style: outside disc;
    --terra-application-notification-dialog-content-list-padding: 0 0 0 1.85714rem;
    --terra-application-notification-dialog-content-list-item-margin: 1rem 0 0 0;
  }
}
