:local {
  .container {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
  }

  .body {
    border-right: 1px solid rgba(0, 0, 0, 0.75);
    flex: 1 1 auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
  
  .workspace {
    background-color: white;
    display: none;
    flex: 0 0 auto;
    height: 100%;
    position: relative;
    z-index: 1;

    &.visible {
      display: block;
    }

    &.overlay {
      border-left: 1px solid rgba(0, 0, 0, 0.75);
      position: absolute;
      width: calc(100% - 50px);
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}
