:local {
  .clinical-lowlight-theme {
    --terra-application-action-menu-radio-action-color: #222a2e;
    --terra-application-action-menu-radio-padding-bottom: 0.5rem;
    --terra-application-action-menu-radio-padding-left: 0.5714rem;
    --terra-application-action-menu-radio-padding-right: 0.7143rem;
    --terra-application-action-menu-radio-padding-top: 0.3571rem;
    --terra-application-action-menu-radio-not-is-disabled-hover-background-color: #f0f8ff;
    --terra-application-action-menu-radio-checkbox-height: 0.8571rem;
    --terra-application-action-menu-radio-checkbox-margin-right: 0.4286rem;
    --terra-application-action-menu-radio-checkbox-width: 0.8571rem;
    --terra-application-action-menu-radio-content-color: #222a2e;
    --terra-application-action-menu-radio-content-font-size: 1rem;
    --terra-application-action-menu-radio-content-font-weight: normal;
    --terra-application-action-menu-radio-is-disabled-color: #ccc;
    --terra-application-action-menu-checkbox-is-checked-checkbox-color: #007cc3;
    --terra-application-action-menu-radio-is-disabled-checkbox-color: #ccc;
    --terra-application-action-menu-radio-is-actionable-hover-background-color: #ebf6fd;
    --terra-application-action-menu-radio-is-actionable-focus-outline: 2px dashed #000;
    --terra-application-action-menu-radio-is-actionable-focus-outline-offset: -2px;
    --terra-application-action-menu-radio-is-actionable-ie-focus-before-border: 2px dashed #000;
  }
}
