:local {
  .cerner-clinical-theme {
    --terra-application-application-navigation-drawer-background-color: rgba(17, 22, 25, 0.3);
    --terra-application-application-navigation-drawer-default-width: calc(100% - 3.571rem);
    --terra-application-application-navigation-drawer-medium-width: 20rem;
    --terra-application-application-navigation-content-layout-background-color: transparent;
    --terra-application-application-navigation-content-layout-box-shadow: -10px 0 15px 0 rgba(17, 22, 25, 0.63);
  }
}
