:local {
  .cerner-clinical-theme {
    --terra-application-application-navigation-drawer-count-background-color: rgba(255, 255, 255, 0.8);
    --terra-application-application-navigation-drawer-count-border: solid 1px rgba(255, 255, 255, 0.5);
    --terra-application-application-navigation-drawer-count-color: #000;
    --terra-application-application-navigation-drawer-menu-background-color: #2a4b77;
    --terra-application-application-navigation-drawer-menu-background-image: none;
    --terra-application-application-navigation-drawer-menu-footer-background-color: rgba(17, 22, 25, 0.2);
    --terra-application-application-navigation-drawer-menu-footer-border-top: 1px solid rgba(255, 255, 255, 0.2);
    --terra-application-application-navigation-drawer-menu-footer-box-shadow: 0 -10px 10px 5px #1a2f4b;
    --terra-application-application-navigation-drawer-menu-overflow-background-color: #1a2f4b;
    --terra-application-application-navigation-drawer-menu-header-background-color: #2a4b77;
    --terra-application-application-navigation-drawer-menu-header-border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    --terra-application-application-navigation-drawer-menu-header-fill-background-color: rgba(17, 22, 25, 0.3);
    --terra-application-application-navigation-drawer-menu-list-background-color: transparent;
    --terra-application-application-navigation-drawer-menu-footer-button-background-color: rgba(255, 255, 255, 0.8);
    --terra-application-application-navigation-drawer-menu-footer-button-border: 1px solid transparent;
    --terra-application-application-navigation-drawer-menu-footer-button-border-radius: 3px;
    --terra-application-application-navigation-drawer-menu-footer-button-color: rgba(17, 22, 25, 0.85);
    --terra-application-application-navigation-drawer-menu-footer-button-hover-background-color: rgba(255, 255, 255, 1);
    --terra-application-application-navigation-drawer-menu-footer-button-hover-color: rgba(17, 22, 25, 0.85);
    --terra-application-application-navigation-drawer-menu-footer-button-focus-background-color: rgba(255, 255, 255, 1);
    --terra-application-application-navigation-drawer-menu-footer-button-focus-border: 1px solid #b5d4fe;
    --terra-application-application-navigation-drawer-menu-footer-button-focus-box-shadow: inset 0 0 0 1px #599ffd;
    --terra-application-application-navigation-drawer-menu-footer-button-focus-color: rgba(17, 22, 25, 0.85);
    --terra-application-application-navigation-drawer-menu-footer-button-focus-outline: none;
    --terra-application-application-navigation-drawer-menu-footer-button-focus-outline-offset: 0;
    --terra-application-application-navigation-drawer-menu-footer-button-active-background-color: rgba(255, 255, 255, 0.6);
    --terra-application-application-navigation-drawer-menu-footer-button-active-border-color: #b5d4fe;
    --terra-application-application-navigation-drawer-menu-footer-button-active-color: rgba(17, 22, 25, 0.85);
    --terra-application-application-navigation-drawer-menu-item-background-color: #1a2f4b;
    --terra-application-application-navigation-drawer-menu-item-color: rgba(255, 255, 255, 0.8);
    --terra-application-application-navigation-drawer-menu-item-selected-box-shadow: inset 0.3571428571rem 0 0 0 #599ffd;
    --terra-application-application-navigation-drawer-menu-item-selected-color: rgba(255, 255, 255, 1);
    --terra-application-application-navigation-drawer-menu-item-selected-focus-box-shadow: inset -2px 2px 0 0 #b5d4fe, inset 0 -2px 0 0 #b5d4fe, inset 0.3571428571rem 0 0 0 #599ffd;
    --terra-application-application-navigation-drawer-menu-item-selected-focus-outline: none;
    --terra-application-application-navigation-drawer-menu-item-selected-focus-outline-offset: 0;
    --terra-application-application-navigation-drawer-menu-item-hover-background-color: #2a4b77;
    --terra-application-application-navigation-drawer-menu-item-hover-color: rgba(255, 255, 255, 1);
    --terra-application-application-navigation-drawer-menu-item-focus-box-shadow: inset 0 0 0 2px #b5d4fe;
    --terra-application-application-navigation-drawer-menu-item-focus-outline: none;
    --terra-application-application-navigation-drawer-menu-item-focus-outline-offset: 0;
    --terra-application-application-navigation-drawer-menu-item-active-background-color: rgba(17, 22, 25, 0.75);
    --terra-application-application-navigation-drawer-menu-item-active-color: rgba(255, 255, 255, 1);
    --terra-application-application-navigation-drawer-menu-navigation-list-border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    --terra-application-application-navigation-drawer-title-border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    --terra-application-application-navigation-drawer-title-color: rgba(255, 255, 255, 0.9);
    --terra-application-application-navigation-drawer-menu-avatar-outline-border: 0.1429rem solid rgba(255, 255, 255, 0.1);
    --terra-application-application-navigation-drawer-menu-user-large-name-color: #fff;
    --terra-application-application-navigation-drawer-menu-user-large-detail-color: rgba(255, 255, 255, 0.7);
    --terra-application-application-navigation-drawer-menu-user-large-avatar-inner-font-size: 1.5208rem;
    --terra-application-application-navigation-drawer-menu-user-small-name-color: rgba(255, 255, 255, 1);
    --terra-application-application-navigation-drawer-menu-user-small-detail-color: rgba(255, 255, 255, 0.7);
    --terra-application-application-navigation-drawer-menu-user-small-avatar-inner-font-size: 0.625rem;
  }
}
