:local {
  .cerner-clinical-theme {
    --terra-application-application-navigation-extension-color: rgba(255, 255, 255, 0.8);
    --terra-application-application-navigation-extension-hover-color: #fff;
    --terra-application-application-navigation-extension-focus-background-color: rgba(73, 149, 250, 0.4);
    --terra-application-application-navigation-extension-focus-color: #fff;
    --terra-application-application-navigation-extension-focus-outline: none;
    --terra-application-application-navigation-extension-focus-outline-offset: 0;
    --terra-application-application-navigation-extension-active-color: rgba(255, 255, 255, 0.5);
    --terra-application-application-navigation-extension-count-background-image: linear-gradient(to bottom, #ffb200, #ff7e00);
    --terra-application-application-navigation-extension-count-border: solid 1px rgba(89, 159, 253, 0.4);
    --terra-application-application-navigation-extension-count-box-shadow: 0 1px 1px 0 rgba(17, 22, 25, 0.3);
    --terra-application-application-navigation-extension-count-color: rgba(17, 22, 25, 1);
    --terra-application-application-navigation-extension-rollup-color: rgba(255, 255, 255, 0.8);
    --terra-application-application-navigation-extension-rollup-hover-color: #fff;
    --terra-application-application-navigation-extension-rollup-focus-background-color: rgba(73, 149, 250, 0.4);
    --terra-application-application-navigation-extension-rollup-focus-color: #fff;
    --terra-application-application-navigation-extension-rollup-focus-outline: none;
    --terra-application-application-navigation-extension-rollup-focus-outline-offset: 0;
    --terra-application-application-navigation-extension-rollup-active-color: rgba(255, 255, 255, 0.5);  
  }
}
