:local {
  .cerner-clinical-theme {
    --terra-application-application-navigation-header-background-color: rgb(25, 104, 166);
    --terra-application-application-navigation-header-background-image:
      radial-gradient(100% 70% at 50% 0%, rgba(70, 121, 171, 0.7), rgba(70, 121, 171, 0)),
      radial-gradient(100% 100% at 0% 0%, rgba(25, 104, 166, 1), rgba(25, 104, 166, 0)),
      radial-gradient(100% 100% at 0% 100%, rgba(29, 95, 153, 1), rgba(29, 95, 153, 0)),
      radial-gradient(100% 100% at 100% 0%, rgba(95, 119, 172, 1), rgba(95, 119, 172, 0)),
      radial-gradient(100% 600% at 100% 100%, rgba(81, 94, 160, 1), rgba(81, 94, 160, 0)),
      radial-gradient(100% 70% at 50% 100%, rgba(81, 121, 172, 1), rgba(81, 121, 172, 0)),
      linear-gradient(rgba(25, 104, 166, 1), rgba(25, 104, 166, 1));
    --terra-application-application-navigation-header-title-color: rgba(255, 255, 255, 0.9);
    --terra-application-application-navigation-header-skip-focus-background-color: #383f42;
    --terra-application-application-navigation-header-skip-focus-border: 2px solid #000;
    --terra-application-application-navigation-header-skip-focus-box-shadow: 0 0 20px -5px #000, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    --terra-application-application-navigation-header-skip-focus-color: #fff;
    --terra-application-application-navigation-header-skip-focus-outline: thick auto #599ffd;
    --terra-application-application-navigation-header-skip-focus-outline-offset: -0.71428rem;
    --terra-application-application-navigation-header-skip-focus-text-decoration: underline;
    --terra-application-application-navigation-header-skip-focus-width: 100%;
    --terra-application-application-navigation-compact-header-background-color: rgb(25, 104, 166);
    --terra-application-application-navigation-compact-header-background-image:
      radial-gradient(100% 70% at 50% 0%, rgba(70, 121, 171, 0.7), rgba(70, 121, 171, 0)),
      radial-gradient(100% 100% at 0% 0%, rgba(25, 104, 166, 1), rgba(25, 104, 166, 0)),
      radial-gradient(100% 100% at 0% 100%, rgba(29, 95, 153, 1), rgba(29, 95, 153, 0)),
      radial-gradient(100% 100% at 100% 0%, rgba(95, 119, 172, 1), rgba(95, 119, 172, 0)),
      radial-gradient(100% 600% at 100% 100%, rgba(81, 94, 160, 1), rgba(81, 94, 160, 0)),
      radial-gradient(100% 70% at 50% 100%, rgba(81, 121, 172, 1), rgba(81, 121, 172, 0)),
      linear-gradient(rgba(25, 104, 166, 1), rgba(25, 104, 166, 1));
    --terra-application-application-navigation-compact-header-hidden-nav-background-color: #383f42;
    --terra-application-application-navigation-compact-header-hidden-nav-border: 2px solid #000;
    --terra-application-application-navigation-compact-header-hidden-nav-box-shadow: 0 0 20px -5px #000, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    --terra-application-application-navigation-compact-header-hidden-nav-item-color: #fff;
    --terra-application-application-navigation-compact-header-hidden-nav-item-text-decoration: underline;
    --terra-application-application-navigation-compact-header-hidden-nav-item-focus-outline: thick auto #599ffd;
    --terra-application-application-navigation-compact-header-hidden-nav-item-focus-outline-offset: -0.14285rem;
    --terra-application-application-navigation-compact-header-menu-button-color: rgba(255, 255, 255, 0.8);
    --terra-application-application-navigation-compact-header-menu-button-hover-color: rgba(255, 255, 255, 1);
    --terra-application-application-navigation-compact-header-menu-button-active-color: rgba(255, 255, 255, 0.5);
    --terra-application-application-navigation-compact-header-menu-button-focus-background-color: rgba(89, 159, 253, 0.4);
    --terra-application-application-navigation-compact-header-menu-button-focus-color: rgba(255, 255, 255, 1);
    --terra-application-application-navigation-compact-header-menu-button-focus-outline: none;
    --terra-application-application-navigation-compact-header-menu-button-focus-outline-offset: 0;
    --terra-application-application-navigation-compact-header-title-color: rgba(255, 255, 255, 1);
    --terra-application-application-navigation-compact-header-skip-focus-background-color: #383f42;
    --terra-application-application-navigation-compact-header-skip-focus-border: 2px solid #000;
    --terra-application-application-navigation-compact-header-skip-focus-box-shadow: 0 0 20px -5px #000, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    --terra-application-application-navigation-compact-header-skip-focus-color: #fff;
    --terra-application-application-navigation-compact-header-skip-focus-outline: thick auto #599ffd;
    --terra-application-application-navigation-compact-header-skip-focus-outline-offset: -0.71428rem;
    --terra-application-application-navigation-compact-header-skip-focus-text-decoration: underline;
    --terra-application-application-navigation-compact-header-skip-focus-width: 100%;
    --terra-application-application-navigation-toggle-count-background-image: linear-gradient(to bottom, #ffb200, #ff7e00);
    --terra-application-application-navigation-toggle-count-border: solid 1px rgba(89, 159, 253, 0.4);
    --terra-application-application-navigation-toggle-count-box-shadow: 0 1px 1px 0 rgba(17, 22, 25, 0.3);
    --terra-application-application-navigation-toggle-count-color: #000;  
  }
}
