:local {
  .cerner-clinical-theme {
    --terra-application-application-navigation-popup-count-background-color: rgba(255, 255, 255, 0.8);
    --terra-application-application-navigation-popup-count-border: solid 1px rgba(17, 22, 25, 0.5);
    --terra-application-application-navigation-popup-count-color: rgba(17, 22, 25, 0.7);
    --terra-application-application-navigation-popup-content-background-color: #eef5fe;
    --terra-application-application-navigation-popup-list-child-border-bottom: 1px solid rgba(89, 159, 253, 0.2);
    --terra-application-application-navigation-popup-item-color: rgba(17, 22, 25, 0.75);
    --terra-application-application-navigation-popup-item-hover-background-color: rgba(255, 255, 255, 0.7);
    --terra-application-application-navigation-popup-item-hover-background-image: none;
    --terra-application-application-navigation-popup-item-hover-box-shadow: none;
    --terra-application-application-navigation-popup-item-focus-background-color: rgba(89, 159, 253, 0.2);
    --terra-application-application-navigation-popup-item-focus-border-bottom: 1px solid rgba(89, 159, 253, 0.3);
    --terra-application-application-navigation-popup-item-focus-outline: none;
    --terra-application-application-navigation-popup-item-focus-outline-offset: 0;
    --terra-application-application-navigation-popup-item-active-background-color: #fff;
    --terra-application-application-navigation-popup-item-active-background-image: none;
    --terra-application-application-navigation-popup-item-active-box-shadow: none;
    --terra-application-application-navigation-popup-item-icon-color: #4983d1;
    --terra-application-application-navigation-user-layout-border-bottom: 1px solid rgba(89, 159, 253, 0.3);
    --terra-application-application-navigation-user-layout-name-color: rgba(17, 22, 25, 0.85);
    --terra-application-application-navigation-user-layout-detail-color: rgba(17, 22, 25, 0.75);
  }
}
