:local {
  .cerner-clinical-theme {
    --terra-application-resize-handle-hover-background-color: rgba(42, 75, 119, 0.6);
    --terra-application-resize-handle-dragging-background-color: rgba(42, 75, 119, 0.6);
  }
}
