:local {
  .cerner-clinical-theme {
    --terra-application-navigation-tab-box-shadow: inset 1px 0 0 0 #3a6194, inset 2px 0 0 0 #5483c1;
    --terra-application-navigation-tab-last-box-shadow: inset 1px 0 0 0 #3a6194, inset 2px 0 0 0 #5483c1, inset -1px 0 0 0 #5483c1, inset -2px 0 0 0 #3a6194;
    --terra-application-navigation-tab-background-color: transparent;
    --terra-application-navigation-tab-color: #fff;
    --terra-application-navigation-tab-inner-background-size: 0 5px;
    --terra-application-navigation-tab-inner-padding-bottom: 1.286rem;
    --terra-application-navigation-tab-inner-padding-top: 1.286rem;
    --terra-application-navigation-tab-hover-background-color: rgba(42, 75, 119, 0.3);
    --terra-application-navigation-tab-hover-color: #fff;
    --terra-application-navigation-tab-active-background-color: rgba(42, 75, 119, 0.8);
    --terra-application-navigation-tab-active-color: #fff;
    --terra-application-navigation-tab-current-box-shadow: inset 1px 0 0 0 #5483c1, inset 2px 0 0 0 #3a6194;
    --terra-application-navigation-tab-current-color: #fff;
    --terra-application-navigation-tab-current-inner-background-color: #3a6194;
    --terra-application-navigation-tab-current-inner-background-image: linear-gradient(to left, rgba(89, 159, 253, 0.8), rgba(89, 159, 253, 0.8));
    --terra-application-navigation-tab-current-inner-background-size: 100% 5px;
    --terra-application-navigation-tab-current-last-box-shadow: inset 1px 0 0 0 #5483c1, inset 2px 0 0 0 #3a6194, inset -1px 0 0 0 #5483c1, inset -2px 0 0 0 #3a6194;
    --terra-application-navigation-tab-focus-background-color: rgba(89, 159, 253, 0.4);
    --terra-application-navigation-tab-focus-outline: none;
    --terra-application-navigation-tab-focus-outline-offset: 0;
    --terra-application-navigation-tab-count-background-image: linear-gradient(to bottom, #ffb200, #ff7e00);
    --terra-application-navigation-tab-count-border: solid 1px rgba(89, 159, 253, 0.4);
    --terra-application-navigation-tab-count-box-shadow: 0 1px 1px 0 rgba(17, 22, 25, 0.3);
    --terra-application-navigation-tab-count-color: rgba(17, 22, 25, 1);  
  }
}
