:local {
  .cerner-clinical-theme {
    --terra-application-application-navigation-utility-header-button-color: #fff;
    --terra-application-application-navigation-utility-header-button-focus-background-color: rgba(89, 159, 253, 0.4);
    --terra-application-application-navigation-utility-header-button-focus-color: #fff;
    --terra-application-application-navigation-utility-header-button-focus-outline: none;
    --terra-application-application-navigation-utility-header-button-focus-outline-offset: 0;
    --terra-application-application-navigation-utility-header-button-icon-focus-color: #fff;
    --terra-application-application-navigation-utility-header-button-active-color: #fff;
    --terra-application-application-navigation-utility-header-button-no-user-focus-outline-offset: 0;  
  }
}
