:local {
  .cerner-clinical-theme {
    --terra-application-workspace-layout-workspace-overlay-background-color: rgba(42, 75, 119, 0.6);
    --terra-application-workspace-layout-workspace-body-overlay-box-shadow: -10px 0 10px 0 rgba(42, 75, 119, 0.6);
  }
}
