:local {
  .description {
    display: flex;
    max-width: 100%;  // Needed for IE10 truncation
    overflow: hidden; // VERY IMPORTANT FOR IE10
  }

  .description-preview {
    flex: 1 1 auto;
    min-width: 10px; // Need min-width, as IE10 will completely squish display
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
  }
}
