:local {
  .cerner-clinical-theme {
    --terra-application-workspace-hidden-tab-hidden-background-color: transparent;
    --terra-application-workspace-hidden-tab-hidden-color: rgba(17, 22, 25, 0.75);
    --terra-application-workspace-hidden-tab-hidden-font-size: 1rem;
    --terra-application-workspace-hidden-tab-hidden-line-height: 1.4;
    --terra-application-workspace-hidden-tab-hidden-padding-bottom: 0.5rem;
    --terra-application-workspace-hidden-tab-hidden-padding-left: 0.5714rem;
    --terra-application-workspace-hidden-tab-hidden-padding-right: 0.7143rem;
    --terra-application-workspace-hidden-tab-hidden-padding-top: 0.3571rem;
    --terra-application-workspace-hidden-tab-hidden-hover-background-color: rgba(89, 159, 253, 0.2);
    --terra-application-workspace-hidden-tab-focus-box-shadow: none;
    --terra-application-workspace-hidden-tab-focus-outline: 2px dashed #2a4b77;
    --terra-application-workspace-hidden-tab-focus-outline-offset: -2px;
    --terra-application-workspace-hidden-tab-ie-focus-before-border: 2px dashed #2a4b77;
    --terra-application-workspace-hidden-tab-ie-focus-before-box-shadow: none;
    --terra-application-workspace-hidden-tab-hidden-is-active-color: rgba(17, 22, 25, 0.75);
    --terra-application-workspace-hidden-tab-hidden-is-active-hover-background-color: rgba(89, 159, 253, 0.2);
    --terra-application-workspace-hidden-tab-checkbox-color: #4983d1;
    --terra-application-workspace-hidden-tab-checkbox-height: 0.8571rem;
    --terra-application-workspace-hidden-tab-checkbox-margin-right: 0.4286rem;
    --terra-application-workspace-hidden-tab-checkbox-margin-top: 0.1429rem;
    --terra-application-workspace-hidden-tab-checkbox-width: 0.8571rem;
  }
}
