@import '~terra-mixins/lib/Mixins';

:local {
  .cerner-clinical-theme {
    --terra-application-workspace-tab-background-color: transparent;
    --terra-application-workspace-tab-background-image: linear-gradient(to bottom, #f2f7ff, #d3e5ff);;
    --terra-application-workspace-tab-border: 1px solid #3a67a4;
    --terra-application-workspace-tab-border-top-left-radius: 3px;
    --terra-application-workspace-tab-border-top-right-radius: 3px;
    --terra-application-workspace-tab-height: 33px;
    --terra-application-workspace-tab-margin-right: 2px;
    --terra-application-workspace-tab-label-color: rgba(12, 22, 25, 0.75);
    --terra-application-workspace-tab-icon-color: rgba(12, 22, 25, 0.63);
    --terra-application-workspace-tab-hover-icon-color: rgba(12, 22, 25, 0.63);
    --terra-application-workspace-tab-hover-label-color: rgba(12, 22, 25, 0.75);
    --terra-application-workspace-tab-hover-background-color: transparent;
    --terra-application-workspace-tab-hover-background-image: linear-gradient(to bottom, #eef5fe, #e6effe);
    --terra-application-workspace-tab-focus-before-border: 2px dashed #2a4b77;
    --terra-application-workspace-tab-focus-before-box-shadow: none;
    --terra-application-workspace-tab-focus-before-bottom: 1px;
    --terra-application-workspace-tab-focus-before-left: 1px;
    --terra-application-workspace-tab-focus-before-right: 1px;
    --terra-application-workspace-tab-focus-before-top: 1px;
    --terra-application-workspace-tab-is-active-background-color: #eef5fe;
    --terra-application-workspace-tab-is-active-background-image: none;
    --terra-application-workspace-tab-is-active-height: 34px;
    --terra-application-workspace-tab-is-active-icon-color: #868a8c;
    --terra-application-workspace-tab-is-active-label-color: rgba(12, 22, 25, 0.75);
    --terra-application-workspace-tab-is-active-icon-label-margin-top: -1px;
    --terra-application-workspace-tab-min-width: 76px;
    --terra-application-workspace-tab-menu-svg-height: 0.8571rem;
    --terra-application-workspace-tab-menu-is-active-hover-background-color: transparent;
    --terra-application-workspace-tab-menu-is-active-hover-background-image: linear-gradient(to bottom, #eef5fe, #e6effe);
    --terra-application-workspace-tab-menu-is-active-hover-icon-color: rgba(12, 22, 25, 0.63);
  }
}
