:local {
  .cerner-clinical-theme {
    --terra-application-workspace-tab-drop-down-border: 1px solid #3a67a4;
    --terra-application-workspace-tab-drop-down-border-radius: 3px;
    --terra-application-workspace-tab-drop-down-max-height: 49px;
    --terra-application-workspace-tab-drop-down-max-width: 290px;
    --terra-application-workspace-tab-drop-down-min-width: 200px;
    --terra-application-workspace-tab-drop-down-padding: 5px 0;
    --terra-application-workspace-tab-drop-down-top: 50px;
    --terra-application-workspace-tab-drop-down-is-open-box-shadow: 0 5px 10px 0 rgba(17, 22, 25, 0.5);
    --terra-application-workspace-tab-drop-down-is-open-background-color: #eef5fe;
  }
}
