:local {
  .cerner-clinical-theme {
    --terra-application-workspace-button-header-background-image: linear-gradient(to bottom, #f2f7ff, #d3e5ff);
    --terra-application-workspace-button-header-border-bottom: 0;
    --terra-application-workspace-button-header-min-height: 48px;
    --terra-application-workspace-button-header-padding-bottom: 0.7143rem;
    --terra-application-workspace-tab-header-margin-left: 0.7143rem;
    --terra-application-workspace-tab-header-margin-right: 2.286rem;
    --terra-application-workspace-tab-header-margin-top: 1.0714rem;
    --terra-application-workspace-tab-header-width: 3rem;
    --terra-application-workspace-tab-header-has-dismiss-margin-left: 2.286rem;
    --terra-application-workspace-tab-header-has-dismiss-width: 4.571rem;
    --terra-application-workspace-body-shadow-container-height: 100%;
    --terra-application-workspace-body-shadow-container-padding-top: 0;
    --terra-application-workspace-body-shadow-container-body-shadow-border-radius: 3px;
    --terra-application-workspace-body-shadow-container-body-shadow-box-shadow: 0 1px 2px 0 rgba(17, 22, 25, 0.5);
    --terra-application-workspace-workspace-container-background: linear-gradient(to bottom, rgba(89, 159, 253, 0.2), rgba(89, 159, 253, 0.3));
    --terra-application-workspace-workspace-container-box-shadow: inset 1px 0 0 0 #96c2fe, inset 2px 0 0 0 #f2f7ff;
    --terra-application-workspace-workspace-container-padding-bottom: 7px;
    --terra-application-workspace-workspace-container-padding-left: 7px;
    --terra-application-workspace-workspace-container-padding-right: 7px;
    --terra-application-workspace-workspace-container-padding-top: 7px;
    --terra-application-workspace-workspace-container-is-overlay-box-shadow: none;
    --terra-application-workspace-workspace-container-is-overlay-padding-bottom: 0;
    --terra-application-workspace-workspace-container-is-overlay-padding-left: 0;
    --terra-application-workspace-workspace-container-is-overlay-padding-right: 0;
    --terra-application-workspace-workspace-container-is-overlay-padding-top: 0;
    --terra-application-workspace-body-border-bottom-left-radius: 3px;
    --terra-application-workspace-body-border-bottom-right-radius: 3px;
    --terra-application-workspace-body-is-overlay-border-bottom-left-radius: 0;
    --terra-application-workspace-body-is-overlay-border-bottom-right-radius: 0;
    --terra-application-workspace-workspace-border: none;
    --terra-application-workspace-workspace-border-radius: 3px;
    --terra-application-workspace-workspace-is-overlay-border: none;
    --terra-application-workspace-workspace-is-overlay-border-radius: 0;
    --terra-application-workspace-button-header-is-overlay-border-top-left-radius: 0;
    --terra-application-workspace-button-header-is-overlay-border-top-right-radius: 0;
  }
}
