:local {
  .cerner-clinical-theme {
    --terra-application-workspace-workspace-button-color: #3a67a4;
    --terra-application-workspace-workspace-button-hover-color: #2a4b77;
    --terra-application-workspace-workspace-button-focus-color: #3a67a4;
    --terra-application-workspace-workspace-button-focus-button-inner-box-shadow: none;
    --terra-application-workspace-workspace-button-focus-button-inner-outline: 2px dashed #2a4b77;
    --terra-application-workspace-workspace-button-focus-button-inner-outline-offset: -4px;
    --terra-application-workspace-workspace-button-active-background-color: none;
    --terra-application-workspace-workspace-button-active-border-radius: 3px;
    --terra-application-workspace-workspace-button-active-color: #1a2f4b;
    --terra-application-workspace-workspace-button-button-inner-padding: 0.6429rem;
    --terra-application-workspace-workspace-button-button-image-height: 0.8571rem;
    --terra-application-workspace-workspace-button-button-image-width: 0.8571rem;
  }
}
