:local {
  .cerner-clinical-theme {
    --terra-application-workspace-content-panel-background-color: #eef5fe;
    --terra-application-workspace-content-panel-border-top: 1px solid #3a67a4;
    --terra-application-workspace-content-panel-header-box-shadow: inset -3px -4px 0 -3px #fff, inset -3px -5px 0 -3px #b5d4fe;
    --terra-application-workspace-content-panel-header-padding-bottom: 8px;
    --terra-application-workspace-content-panel-header-padding-top: 7px;
    --terra-application-workspace-content-toolbar-margin-top: 4px;
    --terra-application-workspace-content-notification-banners-container-margin-top: 4px;
    --terra-application-workspace-content-notification-banners-container-adjacent-margin-top: 6px;
    --terra-application-workspace-content-notification-banner-adjacent-margin-top: 3px;
    --terra-application-workspace-content-rounded-border-radius: 3px;
  }
}
