:local {
  .orion-fusion-theme {
    --terra-application-action-menu-header-align-items: flex-start;
    --terra-application-action-menu-header-background-color: #f9f9f9;
    --terra-application-action-menu-header-border-bottom: 1px solid #d3d4d5;
    --terra-application-action-menu-header-border-left: none;
    --terra-application-action-menu-header-border-right: none;
    --terra-application-action-menu-header-border-top: none;
    --terra-application-action-menu-header-box-shadow: 0 2px 0 0 #909496;
    --terra-application-action-menu-header-min-height: 2.333rem;
    --terra-application-action-menu-header-padding-bottom: 0.5rem;
    --terra-application-action-menu-header-padding-left: 0.4167rem;
    --terra-application-action-menu-header-padding-right: 0.8333rem;
    --terra-application-action-menu-header-padding-top: 0.4167rem;
    --terra-application-action-menu-header-title-align-self: center;
    --terra-application-action-menu-header-title-color: #1c1f21;
    --terra-application-action-menu-header-title-font-size: 1.10714rem;
    --terra-application-action-menu-header-title-font-weight: 500;
  }
}
