:local {
  .orion-fusion-theme {
    --terra-application-action-menu-checkbox-color: #222a2e;
    --terra-application-action-menu-checkbox-padding-bottom: 0.6667rem;
    --terra-application-action-menu-checkbox-padding-left: 1rem;
    --terra-application-action-menu-checkbox-padding-right: 0.8333rem;
    --terra-application-action-menu-checkbox-padding-top: 0.6667rem;
    --terra-application-action-menu-checkbox-icon-checkbox-height: 1.167rem;
    --terra-application-action-menu-checkbox-icon-checkbox-margin-right: 0.6667rem;
    --terra-application-action-menu-checkbox-icon-checkbox-margin-top: 0.125rem;
    --terra-application-action-menu-checkbox-icon-checkbox-width: 1.167rem;
    --terra-application-action-menu-checkbox-content-font-size: 1rem;
    --terra-application-action-menu-checkbox-content-font-weight: normal;
    --terra-application-action-menu-checkbox-is-disabled-color: #ccc;
    --terra-application-action-menu-checkbox-is-checked-checkbox-color: #4e5558;
    --terra-application-action-menu-checkbox-is-disabled-checkbox-color: #ccc;
    --terra-application-action-menu-checkbox-is-actionable-hover-color: #ebf6fd;
    --terra-application-action-menu-checkbox-is-actionable-focus-box-shadow: 0 0 1px 1px rgba(76, 178, 233,0.50), 0 0 6px 2px rgba(76, 178, 233, 0.40), inset 0 0 4px 1px rgba(76, 178, 233, 0.50);
    --terra-application-action-menu-checkbox-is-actionable-focus-outline: 2px dashed #000;
    --terra-application-action-menu-checkbox-is-actionable-focus-outline-outset: -2px;
    --terra-application-action-menu-checkbox-is-actionable-ie-focus-before-border: 2px dashed #000;
    --terra-application-action-menu-checkbox-is-actionable-ie-focus-before-box-shadow: 0 0 1px 1px rgba(76, 178, 233,0.50), 0 0 6px 2px rgba(76, 178, 233, 0.40), inset 0 0 4px 1px rgba(76, 178, 233, 0.50);
  }
}
