:local {
  .orion-fusion-theme {
    --terra-application-action-menu-background-color: #fff;
    --terra-application-action-menu-min-width: 200px;
    --terra-application-action-menu-padding-bottom: 0;
    --terra-application-action-menu-padding-top: 0;
    --terra-application-action-menu-action-divider-box-shadow: 0 1px 0 0 #bcbfc0;
    --terra-application-action-menu-action-divider-margin: 0 0;
    --terra-application-action-menu-button-action-color: #222a2e;
    --terra-application-action-menu-action-padding-bottom: 0.6667rem;
    --terra-application-action-menu-action-padding-left: 1rem;
    --terra-application-action-menu-action-padding-right: 0.8333rem;
    --terra-application-action-menu-action-padding-top: 0.6667rem;
    --terra-application-action-menu-action-not-is-disabled-hover-background-color: aliceblue;
    --terra-application-action-menu-action-indent-padding-left: 2.833rem;
    --terra-application-action-menu-checkbox-height: 1.167rem;
    --terra-application-action-menu-checkbox-margin-right: 0.6667rem;
    --terra-application-action-menu-checkbox-width: 1.167rem;
    --terra-application-action-menu-content-color: #222a2e;
    --terra-application-action-menu-content-font-size: 1rem;
    --terra-application-action-menu-content-font-weight: normal;
    --terra-application-action-menu-is-disabled-color: #ccc;
    --terra-application-action-menu-is-checked-checkbox-color: #4e5558;
    --terra-application-action-menu-is-disabled-checkbox-color: #ccc;
    --terra-application-action-menu-is-actionable-hover-color: #ebf6fd;
    --terra-application-action-menu-is-actionable-focus-color: 2px dashed #000;
    --terra-application-action-menu-is-actionable-focus-color: -2px;
    --terra-application-action-menu-action-header-align-items: flex-start;
    --terra-application-action-menu-action-header-background-color: #f9f9f9;
    --terra-application-action-menu-action-header-border-bottom: 1px solid #d3d4d5;
    --terra-application-action-menu-action-header-border-left: none;
    --terra-application-action-menu-action-header-border-right: none;
    --terra-application-action-menu-action-header-border-top: none;
    --terra-application-action-menu-action-header-box-shadow: 0 2px 0 0 #909496;
    --terra-application-action-menu-action-header-min-height: 2.333rem;
    --terra-application-action-menu-action-header-padding-bottom: 0.5rem;
    --terra-application-action-menu-action-header-padding-left: 2rem;
    --terra-application-action-menu-action-header-padding-right: 0.8333rem;
    --terra-application-action-menu-action-header-padding-top: 0.4167rem;
    --terra-application-action-menu-action-header-title-align-self: center;
    --terra-application-action-menu-action-header-title-color: #1c1f21;
    --terra-application-action-menu-action-header-title-font-size: 1.10714rem;
    --terra-application-action-menu-action-header-title-font-weight: 500;
  }
}
