:local {
  .orion-fusion-theme {
    --terra-application-action-menu-header-align-items: flex-start;
    --terra-application-action-menu-header-background-color: #f4f4f4;
    --terra-application-action-menu-header-border-bottom: 0;
    --terra-application-action-menu-header-border-left: none;
    --terra-application-action-menu-header-border-right: none;
    --terra-application-action-menu-header-border-top: none;
    --terra-application-action-menu-header-box-shadow: 0 2px 0 0 #9B9FA1;
    --terra-application-action-menu-header-min-height: 2.333rem;
    --terra-application-action-menu-header-padding-bottom: 0.5rem;
    --terra-application-action-menu-header-padding-left: 0.4167rem;
    --terra-application-action-menu-header-padding-right: 0.8333rem;
    --terra-application-action-menu-header-padding-top: 0.4167rem;
    --terra-application-action-menu-header-title-align-self: center;
    --terra-application-action-menu-header-title-color: #1c1f21;
    --terra-application-action-menu-header-title-font-size: 1.167rem; // TODO: 1.5rem?
    --terra-application-action-menu-header-title-font-weight: 500;
  }
}
