:local {
  .orion-fusion-theme {
    --terra-application-action-menu-link-color: #222a2e;
    --terra-application-action-menu-link-padding-bottom: 0.6667rem;
    --terra-application-action-menu-link-padding-left: 1rem;
    --terra-application-action-menu-link-padding-right: 0.8333rem;
    --terra-application-action-menu-link-padding-top: 0.6667rem;
    --terra-application-action-menu-link-not-is-disabled-hover-background-color: #ebf6fd;
    --terra-application-action-menu-link-indent-padding-left: 2.833rem;
    --terra-application-action-menu-link-content-color: #222a2e;
    --terra-application-action-menu-link-content-font-size: 1rem;
    --terra-application-action-menu-link-content-font-weight: normal;
    --terra-application-action-menu-link-is-disabled-color: #ccc;
    --terra-application-action-menu-link-is-actionable-hover-color: #ebf6fd;
    --terra-application-action-menu-link-is-actionable-focus-outline: 2px dashed #000;
    --terra-application-action-menu-link-is-actionable-focus-outline-outset: -2px;
    --terra-application-action-menu-link-is-actionable-ie-focus-before-border: 2px dashed #000;
  }
}
