@import "../clinical-lowlight-theme/Tabs.module";
@import "../orion-fusion-theme/Tabs.module";

:local {
  .tab-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    height: var(--terra-application-workspace-tab-container-height, 33px);
    justify-content: flex-start;
    margin-bottom: var(
      --terra-application-workspace-tab-container-margin-bottom,
      0
    );
    padding: 0;
    width: 100%;

    &:focus {
      outline: none;
    }

    &[data-tab-is-calculating="true"] {
      // visibility: hidden;
    }
  }
  //Option 2A styles
  .tab-container {
    position: relative;
  }
  .slidingTabsStyles {
    transition: 0.1s ease-in-out;
    left: 0;
    right: 0;
  }
  .form-select-fruits {
    position: absolute;
    left: 0;
    width: 114px;
    margin-left: 5px;
    font-size: 1rem;
    font-family: var(
      --terra-base-font-family,
      "Helvetica Neue",
      Helvetica,
      Arial,
      sans-serif
    );
    color: #434a4d;
  }
}
