
:global {
  .orion-fusion-theme {
    --terra-application-base-background-attachment: scroll;
    --terra-application-base-background-color: rgba(255, 255, 255, 1);
    --terra-application-base-background-image: none;
    --terra-application-base-background-position: none;
    --terra-application-base-background-repeat: none;
    --terra-application-base-background-size: auto;
    --terra-application-base-font-family: Tahoma, Geneva, Verdana, Trebuchet MS, sans-serif;
    --terra-application-base-font-size: 75%;            // root: 16px, base: 14px
    --terra-application-base-html-height: 100%;
    --terra-application-base-html-margin: 0;
    --terra-application-base-color: #1c1f21;
    --terra-application-base-body-height: 100%;
    --terra-application-base-line-height: 1.4285694285714286;
    --terra-application-base-body-margin: 0;
  }
}
