:local {
  .orion-fusion-theme {
    --terra-application-workspace-content-panel-background-color: #fff;
    --terra-application-workspace-content-panel-border-top: 1px solid #868a8c;
    --terra-application-workspace-content-panel-header-box-shadow: inset -3px -4px 0 -3px #cbcacb;
    --terra-application-workspace-content-rounded-border-radius: 3px;
  }
}
