:local {
  .orion-fusion-theme {
    --terra-application-workspace-button-header-background-image: linear-gradient(to bottom, #f4f4f4, #dedfe0);
    --terra-application-workspace-button-header-border-bottom: 0;
    --terra-application-workspace-button-header-min-height: 44px;
    --terra-application-workspace-button-header-padding-bottom: 0;
    --terra-application-workspace-tab-header-margin-left: 0.5714rem;
    --terra-application-workspace-tab-header-margin-right: 2.143rem;
    --terra-application-workspace-tab-header-margin-top: 1.3333rem;
    --terra-application-workspace-tab-header-width: 2.714rem;
    --terra-application-workspace-tab-header-has-dismiss-margin-left: 2.143rem;
    --terra-application-workspace-tab-header-has-dismiss-width: 4.286rem;
  }
}
