:local {
  .orion-fusion-theme {
    --terra-application-page-header-container-box-shadow: inset 0 -1px 0 0 #64696c;
    --terra-application-page-header-container-margin-bottom: 0;
    --terra-application-page-header-container-margin-left: 0.7143rem;
    --terra-application-page-header-container-margin-right: 0.7143rem;
    --terra-application-page-header-container-margin-top: 0;
    --terra-application-page-header-container-padding-bottom: 0.5714rem;
    --terra-application-page-header-container-padding-left: 0;
    --terra-application-page-header-container-padding-right: 0;
    --terra-application-page-header-container-padding-top: 0.3571rem;
    --terra-application-page-header-start-actions-container-not-empty-padding-right: 0.2143rem;
    --terra-application-page-header-label-container-color: #383f42;
    --terra-application-page-header-label-container-padding-left: 0.5rem;
    --terra-application-page-header-end-actions-container-not-empty-padding-left: 0.5rem;
    --terra-application-page-header-actions-divider-box-shadow: inset -1px 0 0 0 #a7aaab;
    --terra-application-page-header-actions-divider-margin-bottom: 0.3571rem;
    --terra-application-page-header-actions-divider-margin-left: 0.2143rem;
    --terra-application-page-header-actions-divider-margin-right: 0.2143rem;
    --terra-application-page-header-actions-divider-margin-top: 0.3571rem;
    --terra-application-page-header-actions-divider-width: 1px;
    --terra-application-page-header-toolbar-container-margin-top: 0.2857rem;
    --terra-application-page-header-notification-banners-container-margin-bottom: 0.2143rem;
    --terra-application-page-header-notification-banners-container-margin-top: 0.2857rem;
    --terra-application-page-header-notification-banners-container-adjacent-margin-top: 0.4286rem;
    --terra-application-page-header-notification-banner-border-radius: 0.2143rem;
    --terra-application-page-header-notification-banner-not-first-child-margin-top: 0.2143rem;
  }
}
