:local {
  .orion-fusion-theme {
    --terra-application-page-toolbar-background: #e8e9ea;
    --terra-application-page-toolbar-border-radius: 0;
    --terra-application-page-toolbar-box-shadow: inset 0 -1px 0 0 #64696c;
  }
}
