@import '~terra-mixins/lib/Mixins';

:local {
  .clinical-lowlight-theme {
    --terra-application-workspace-tab-height: 33px;
    --terra-application-workspace-tab-nth-last-child-margin-right: 15px;
    --terra-application-workspace-tab-icon-label-color: #6f7477;
    --terra-application-workspace-tab-icon-label-padding-top: 15px;
    --terra-application-workspace-tab-hover-icon-label-color: #868a8c;
    --terra-application-workspace-tab-hover-icon-label-padding-top: 14px;
    --terra-application-workspace-tab-hover-background-image: linear-gradient(to bottom, #222a2e, #1e2427);
    --terra-application-workspace-tab-hover-background-color: transparent;
    --terra-application-workspace-tab-hover-focus-before-top: 4px;
    --terra-application-workspace-tab-focus-before-border: 2px dashed #fff;
    --terra-application-workspace-tab-focus-before-box-shadow: none;
    --terra-application-workspace-tab-is-active-icon-label-color: #868a8c;
    --terra-application-workspace-tab-is-active-icon-label-padding-top: 14px;
    --terra-application-workspace-tab-is-active-background-color: #222a2e;
    --terra-application-workspace-tab-is-active-height: 34px;
    --terra-application-workspace-tab-min-width: 76px;
    --terra-application-workspace-tab-menu-svg-color: #868a8c;
    --terra-application-workspace-tab-menu-svg-height: 0.8571rem;
    --terra-application-workspace-tab-menu-background-color: #1e2427;
    --terra-application-workspace-tab-menu-background-image: none;

    // inner position
    --terra-application-workspace-tab-inner-background-size: 100% 42px;
  }
}
