:local {
  .orion-fusion-theme {
    --terra-application-workspace-workspace-button-color: #fff;
    --terra-application-workspace-workspace-button-inner-color: #fff;
    --terra-application-workspace-workspace-button-focus-button-inner-color: rgba(255, 255, 255, 0.8);
    --terra-application-workspace-workspace-button-focus-button-inner-outline: 2px dashed #fff;
    --terra-application-workspace-workspace-button-focus-button-inner-outline-offset: -4px;
    --terra-application-workspace-workspace-button-active-button-inner-color: #ccc;
    --terra-application-workspace-workspace-button-button-inner-padding: 0.6429rem;
    --terra-application-workspace-workspace-button-button-image-height: 0.8571rem;
    --terra-application-workspace-workspace-button-button-image-width: 0.8571rem;
  }
}
