:local {
  .clinical-lowlight-theme {
    --terra-application-workspace-button-header-background-image: linear-gradient(to bottom, #1e2427, #1C1F21);
    --terra-application-workspace-button-header-border-bottom: 0;
    --terra-application-workspace-button-header-min-height: 48px;
    --terra-application-workspace-button-header-padding-bottom: 0.7143rem;
    --terra-application-workspace-tab-header-margin-left: 0.5rem;
    --terra-application-workspace-tab-header-margin-right: 2.143rem;
    --terra-application-workspace-tab-header-margin-top: 1.0714rem;
    --terra-application-workspace-tab-header-width: 2.714rem;
    --terra-application-workspace-tab-header-has-dismiss-margin-left: 2.286rem;
    --terra-application-workspace-tab-header-has-dismiss-width: 4.571rem;
  }
}
