:local {
  .clinical-lowlight-theme {
    --terra-application-workspace-content-panel-background-color: #222a2e;
    --terra-application-workspace-content-panel-border-top: 1px solid #868a8c;
    --terra-application-workspace-content-panel-header-box-shadow: inset -3px -4px 0 -3px #383f42, inset -3px -5px 0 -3px #08090a;
    --terra-application-workspace-content-rounded-border-radius: 3px;
    --terra-application-workspace-content-rounded-margin-top: 5px;
  }
}
