:local {
  .clinical-lowlight-theme {
    --terra-application-workspace-content-panel-header-box-shadow: inset -3px -4px 0px -3px #cbcacb;
    --terra-application-workspace-content-rounded-border-radius: 3px;
    --terra-application-workspace-content-rounded-margin-top: 5px;
  }
}
