:local {
  .clinical-lowlight-theme {
    --terra-application-workspace-button-header-background-image: linear-gradient(to bottom, #f4f4f4, #dedfe0);
    --terra-application-workspace-button-header-min-height: 3.571rem;
    --terra-application-workspace-button-header-padding-bottom: 1.083rem;
    --terra-application-workspace-tab-header-margin-left: 0.5714rem;
    --terra-application-workspace-tab-header-margin-right: 2.143rem;
    --terra-application-workspace-tab-header-margin-top: 0.8333rem;
    --terra-application-workspace-tab-header-width: 2.714rem;
    --terra-application-workspace-tab-header-has-dismiss-margin-left: 2.143rem;
    --terra-application-workspace-tab-header-has-dismiss-width: 4.286rem;
  }
}
