@import '../breakpoints/media-queries';

:local {
  .page {
    background-color: #f3f4f3;
    display: flex;
    flex-direction: column;
    height: 100%;
    outline: none;
    position: relative;
    width: 100%;
    z-index: 0;

    .header {
      flex: 0 0 auto;
      overflow-y: scroll;
      padding: 0 10px;
      z-index: 0;
    }

    .content {
      flex: 1 1 auto;
      height: 100%;
      min-height: 50px;
      overflow: hidden;
      position: relative;
      width: 100%;
      z-index: 1;
    }
  }

  .overflow-content {
    display: block; // VERY IMPORTANT FOR IE
    height: 100%;
    outline: none;
    overflow-x: auto;
    overflow-y: scroll;
    // padding: 10px;
    position: relative;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .width-normalizer {
    width: 100%;
    padding: 10px 15px;
    @include terra-mq-medium-up {
      min-width: 768px;
    }
  }
}
