@import '~terra-mixins/lib/Mixins';

:local {
  .page-header-container {
    box-shadow: inset -3px -4px 0px -3px #fff, inset -3px -5px 0px -3px #C8CACB;

    margin: 0 10px;
    padding: 5px 0 8px;
    
    // > *:nth-child(n+2) {
    //   margin-top: 5px;
    //   border-radius: 3px;
    //   overflow: hidden;
    // }
  }

  .page-header {
    align-items: center;

    display: flex;
    flex-wrap: nowrap;

    overflow: hidden;
    width: 100%;
  }

  .start-actions-container {
    display: flex;
    flex: 0 0 auto;

    &:not(:empty) {
      padding-right: 3px;
    }
  }

  .header-button {
    color: #027cc3;
  }

  .header-button.disabled {
    color: rgba(2, 124, 195, .85) !important;
  }

  .label-container {
    color: #383f42;
    font-weight: bold;
    flex: 1 1 auto;
    hyphens: auto;
    padding-left: 7px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .end-actions-container {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    min-height: 30px;

    &:not(:empty) {
      padding-left: 7px;
    }
  }

  .actions-divider {
    align-self: stretch;
    box-shadow: inset -3px 0px 0px -2px#fefffe, inset -4px 0px 0px -2px #C7CACB;
    flex: 0 0 auto;
    margin: 4px 0;
    width: 2px;
  }

  .toolbar-container {
    margin-top: var(--terra-application-page-header-toolbar-margin-top, 4px);
  }

  .notification-banners-container {
    margin-bottom: var(--terra-application-page-header-notification-banners-container-margin-bottom, 3px);
    margin-top: var(--terra-application-page-header-notification-banners-container-margin-top, 4px);
  }

  .toolbar-container + .notification-banners-container {
    margin-top: var(--terra-application-page-header-notification-banners-container-adjacent-margin-top, 6px);
  }

  .notification-banner {
    &:not(:first-child) {
      margin-top: var(--terra-application-page-header-notification-banner-adjacent-margin-top, 3px);
    }
  }

  .rounded {
    border-radius: var(--terra-application-page-header-rounded-border-radius, 3px);
    overflow: hidden;
  }
}
