  :global {
  .clinical-lowlight-theme {
    --terra-application-base-background-attachment: none;
    --terra-application-base-background-color: #222a2e;
    --terra-application-base-background-image: none;
    --terra-application-base-background-position: none;
    --terra-application-base-background-repeat: none;
    --terra-application-base-background-size: none;
    --terra-application-base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --terra-application-base-font-size: 87.5%;            // root: 16px, base: 12px
    --terra-application-base-html-height: 100%;
    --terra-application-base-html-margin: 0;
    --terra-application-base-color: #b2b5b6;
    --terra-application-base-body-height: 100%;
    --terra-application-base-line-height: 1.4285694285714286;
    --terra-application-base-body-margin: 0;
  }
}