:global {
  --terra-application-modal-manager-background-color: #fff;
  --terra-application-modal-manager-border: 1px solid #f4f4f4;
  --terra-application-modal-manager-border-radius: 5px;
  --terra-application-modal-manager-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  --terra-application-modal-manager-foreground-color: #1c1f21;
}
