:local {
  .concept-layout {
    display: flex;
    flex-direction: column;
    width: 100%;

    > .header {
      flex: 0 0 auto;
    }

    > .content {
      flex: 1 1 auto;
      position: relative;
    }
  }

  .fill-parent {
    height: 100%;

    > .content {
      overflow: hidden;
    }
  }
}
