:local {
  .embedded-layout {
    display: flex;
    flex-direction: column;
    width: 100%;

    > .concept-banner-container {
      flex: 0 0 auto;
    }

    > .content-container {
      flex: 1 1 auto;
      position: relative;
    }
  }

  .fill-parent {
    height: 100%;

    > .content {
      overflow: hidden;
    }
  }
}
