@import '~terra-mixins/lib/Mixins';

:local {
  .page-header-container {
    box-shadow: inset -3px -4px 0 -3px #fff, inset -3px -5px 0 -3px #c8cacb;
    margin: 0 0.625rem;
    padding: 0.3571rem 0 0.4286rem;
  }

  .page-header {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
  }

  .start-actions-container {
    display: flex;
    flex: 0 0 auto;

    &:not(:empty) {
      padding-right: 0.1875rem;
    }
  }

  .label-container {
    color: #383f42;
    flex: 1 1 auto;
    font-weight: bold;
    hyphens: auto;
    padding-top: 0.1429rem;
    overflow: hidden;
    overflow-wrap: break-word;
    padding-left: 0.5rem;
    word-wrap: break-word;

    min-height: 28px;
    min-width: 0;
    display: flex;
    align-items: center;
  }

  .end-actions-container {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    min-height: 1.875rem;

    &:not(:empty) {
      padding-left: 0.5rem;
    }
  }

  .actions-divider {
    align-self: stretch;
    box-shadow: inset -3px 0 0 -2px#fefffe, inset -4px 0 0 -2px #c7cacb;
    flex: 0 0 auto;
    margin: 0.3125rem 0.1875rem;
    width: 2px;
  }

  .toolbar-container {
    margin-top: var(--terra-application-page-header-toolbar-margin-top, 0.25rem);
  }

  .notification-banners-container {
    margin-bottom: var(--terra-application-page-header-notification-banners-container-margin-bottom, 0.1875rem);
    margin-top: var(--terra-application-page-header-notification-banners-container-margin-top, 0.25rem);
  }

  .toolbar-container + .notification-banners-container {
    margin-top: var(--terra-application-page-header-notification-banners-container-adjacent-margin-top, 0.375rem);
  }

  .notification-banner {
    border-radius: var(--terra-application-page-header-notification-banner-border-radius, 0.1875rem);
    overflow: hidden;

    &:not(:first-child) {
      margin-top: var(--terra-application-page-header-notification-banner-adjacent-margin-top, 0.1875rem);
    }
  }
}
